#google {

}

#header {
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    width: 50%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#user-bar {
    position: fixed;
    top: 0%;
    width: 100%;
}

#google-links {
    position: fixed;
    bottom: 0%;
    width: 100%;
}

#google-logo {
    display: block;
    margin: auto;
}

#languages {
    text-align: center;
    font-size: 13px;
    margin-top: 20px;
}

#links-bar {

}

#search-bar {
    margin: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    width: 525px;
}

#google-search {
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#lucky {
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#sign-in {

}

.lang-options {

}

.user-links {

}

.left-links {

}

.right-links {

}