#google {

}

#header {
    background-color: dimgray;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    width: 50%;
    text-align: center;
}

#user-bar {
    position: fixed;
    top: 0%;
    width: 100%;
}

#google-links {
    position: fixed;
    bottom: 0%;
    width: 100%;
}

#google-logo {
    display: block;
    margin: auto;
}

#languages {
    text-align: center;
}

#links-bar {

}

#search-bar {
    margin: 50px;
}

#google-search {

}

#lucky {

}

#sign-in {

}

.lang-options {

}

.user-links {

}

.left-links {

}

.right-links {

}